<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css')}}">

    </head>
    


    <body id="dashboard-body">

        <script src="{{ url_for('static', filename='scripts/files_bar.js')}}"></script>

        <section id="top-section">
            <div id="files-bar" hx-trigger="load" hx-get="/files_bar" hx-swap="outerHTML" 
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            ondragstart="drag(event)"
            >
            </div>

            <div id="video-editor" hx-trigger="load" hx-get="/get_player">
            </div>
        </section>

        <div id="ai-promptbox">
            <textarea placeholder="Enter instructions for the AI..."></textarea>
        </div>
        
    </body>

</html>